<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image: url(&quot;/static/me.png&quot;);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Joshua Njoroge</strong>, a highly skilled software engineer with over 2 years of experience in the industry. I have a strong background in both front-end and back-end development.</p>
            <a class="btn btn-outline-primary" role="button" href="mailto:njorogejoshua35@gmail.com">Hire me</a>
        </div>
    </div>
</section>